@font-face{  font-family:IRANSans;  font-style:normal;  font-weight:bold;  src:url("./assets/fonts/iran-sans/IRANSansWeb_Bold.eot");  src:url("./assets/fonts/iran-sans/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/iran-sans/IRANSansWeb_Bold.woff2") format("woff2"), url("./assets/fonts/iran-sans/IRANSansWeb_Bold.woff") format("woff"), url("./assets/fonts/iran-sans/IRANSansWeb_Bold.ttf") format("truetype")  }
@font-face{  font-family:IRANSans;  font-style:normal;  font-weight:500;  src:url("./assets/fonts/iran-sans/IRANSansWeb_Medium.eot");  src:url("./assets/fonts/iran-sans/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/iran-sans/IRANSansWeb_Medium.woff2") format("woff2"), url("./assets/fonts/iran-sans/IRANSansWeb_Medium.woff") format("woff"), url("./assets/fonts/iran-sans/IRANSansWeb_Medium.ttf") format("truetype")  }
@font-face{  font-family:IRANSans;  font-style:normal;  font-weight:300;  src:url("./assets/fonts/iran-sans/IRANSansWeb_Light.eot");  src:url("./assets/fonts/iran-sans/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/iran-sans/IRANSansWeb_Light.woff2") format("woff2"), url("./assets/fonts/iran-sans/IRANSansWeb_Light.woff") format("woff"), url("./assets/fonts/iran-sans/IRANSansWeb_Light.ttf") format("truetype")  }
@font-face{  font-family:IRANSans;  font-style:normal;  font-weight:200;  src:url("./assets/fonts/iran-sans/IRANSansWeb_UltraLight.eot");  src:url("./assets/fonts/iran-sans/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/iran-sans/IRANSansWeb_UltraLight.woff2") format("woff2"), url("./assets/fonts/iran-sans/IRANSansWeb_UltraLight.woff") format("woff"), url("./assets/fonts/iran-sans/IRANSansWeb_UltraLight.ttf") format("truetype")  }


body,html{
    font-family: IRANSans, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;        
}

body{
    padding-top:30px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: right;
}

input,
textarea,
button,
select{
    font-size: 0.8rem !important;
    font-weight: 300;
}

table.table{
    font-size: 0.87rem;
}

table.table tbody td,
table.table tbody th{
    vertical-align: middle;
}

.action-btns .btn{
    font-size:0.8rem;
    font-weight: 300;
    padding: 0 5px;
    vertical-align: middle;
}

.action-btns .btn i{
    vertical-align: middle;
    line-height: 20px;
    font-size: 0.87rem;
}